---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Etiquetas HTML">
	<main>
		<Banner/>
		<Cards></Cards>
	</main>
</Layout>

<style>
	main{
		margin: 0 auto;
		max-width: 1200px;
	}
</style>