---
import Card from "../components/Card.astro";
import Copy from "../components/Copy.astro";

const tags = [
    {
        title: "<h1>",
        code: "<h1>Heading level 1</h1>",
        description: "Etiqueta de Encabezado",
        type: "Bloque",
    },
    {
        title: "h2",
        code: "<h2>HOLA MUNDO</h2>",
        description: "Etiqueta de Encabezado",
        type: "Bloque",
    },
    {
        title: "h3",
        code: "<h3>HOLA MUNDO</h3>",
        description: "Etiqueta de Encabezado",
        type: "Bloque",
    },
    {
        title: "h4",
        code: "<h4>HOLA MUNDO</h4>",
        description: "Etiqueta de Encabezado",
        type: "Bloque",
    },
];
---

<section class="cards">
    {
        tags.map((tag) => {
            return (
                <Card>
                    <h2>
                        {tag.title}
                        <span>&rarr;</span>
                    </h2>
                    <div>
                        <small>Etiqueta de tipo: {tag.type}</small>
                        <p>{tag.description}</p>
                    </div>
                    <div class="copy">
                        <h3>Usos</h3>
                        <Copy/>
                    </div>
                    <div class="code">
                        <p>{tag.code}</p>
                    </div>
                </Card>
            );
        })
    }
</section>

<style>
	.cards{
		display: flex;
        justify-content: center;
		flex-wrap: wrap;
		gap: 40px;
        margin: 40px 0;
	}
    h2{
        font-weight: 900;
        font-size: 40px;
    }
    h3{
        font-size: 30px;
    }
    .copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .code{
        background-color: var(--bg);
        color: var(--font);
        padding: 20px;
        border-radius: 10px;
    }
</style>
