

<button>
    Copy
</button>

<style>
    button{
        background-color: var(--bg);
        overflow: hidden;
        border: none;
        color: var(--font);
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
    }
</style>