<footer>
    <h2>Sitio WEB desarrollado con <span class="orange">♥️</span> por 
        <a target="_blank" href="https://github.com/lucaszhh">LUCASZHH</a>
    </h2>
    <h4>
        <a target="_blank" href="https://github.com/lucaszhh/etiquetas-html"
            >Dale una mirada al código funte
        </a>
    </h4>
</footer>


<style>
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;
        padding: 40px;
        gap: 20px;
        border: 2px solid var(--font);
        border-radius: 10px;
        color: var(--bg);
        background-color: var(--font);
    }
	a{
		color: unset;
		text-decoration: none;
	}
	a:hover{
		border-bottom: 2px solid var(--bg);
	}
</style>
